.nv-icon {
  background-color: antiquewhite;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
}
@media (max-width: 640px) {
  .content-filter {
    flex-direction: column !important;
  }
}
